<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_base_map"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 1.57079632679 0 map base_link 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find ma1400_sim)/urdf/MA1400.urdf -urdf -model MA1400"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>
